.cursive {
     font-family: "Charmonman", cursive;

}

.lato {
     font-family: "Lato", sans-serif;

}
.DarkBg{
    background-color: #0D1321;
}
.eggshell{
     color: #F0EBD8;
}
.lakeBlue{
     color: #748CAB;
}
.lakeBlueBg{
     background-color:#748CAB;
}
.persianBlue{
     color: #1D2D44;
}